﻿@model Widgets.Models.ViewModels.EditCoordinatesViewModel

@{
    ViewBag.Title = "Edit Coordinates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageheader
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(Model.GoogleAPIKey)&sensor=false"></script>
}

<h3>Edit Coordinates</h3>
<div id="listinginfo">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.MlsNumber)
        @Html.HiddenFor(x => x.PropertyType)
        @Html.HiddenFor(x => x.BoardCode)
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address, new {@class = "defaultText", @title = "Enter property address or MLS #..."})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Latitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Longitude)
        </div>

        <p>
            <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "Index", "Home")
        </p>
    }
</div>

<span>Click and drag the marker to adjust the latitude & longitude</span>
<div id="map-search" style="width:550px; height:500px;"></div>

<script type="text/javascript" src="@Url.Content("~/Content/js/defaultText.js")"></script>
<script type="text/javascript">
    $(function () {

        $("#Address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Model.DefaultHostName)/FeaturedListing/SearchListings",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        address: request.term
                    },
                    success: function (data) {
                        response($.map(data.listings, function (item) {
                            return {
                                label: item.Address + ", " + item.City + ", MLS® " + item.MlsNumber,
                                city: item.City,
                                mlsnumber: item.MlsNumber,
                                longitude: item.GetLongitude,
                                latitude: item.GetLatitude,
                                propertytype: item.PropertyType,
                                value: item.Address,
                                boardcode: item.BoardCode
                            };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {

                $('#MlsNumber').val(ui.item.mlsnumber);
                $('#PropertyType').val(ui.item.propertytype);
                $('#City').val(ui.item.city);
                $('#Latitude').val(ui.item.latitude);
                $('#Longitude').val(ui.item.longitude);
                $('#BoardCode').val(ui.item.boardcode);

                placeMarker(ui.item.latitude, ui.item.longitude);
                $('input:submit').prop('disabled', false);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });

        $('form').submit(function(e) {
            e.preventDefault();
            
            $.post("@(Url.Action("Index", "EditCoordinates"))", $(this).serializeArray(), 
                function(data) {
                    $('.success').remove();
                    $('<div>').addClass('success')
                        .html(data.html)
                        .insertBefore('#listinginfo');
                }
            );
        });
        
        // init google maps
        initialize();
    });

    var map;
    var markers = [];
    function initialize() {
        var myOptions = {
            zoom: 2,
            center: new google.maps.LatLng(52.1343700, -106.6476560),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-search"), myOptions);
        
        $('#City').prop('disabled', true);
        $('input:submit').prop('disabled', true);
    }

    function placeMarker(latitude, longitude) {

        clearMarkers();

        var location = new google.maps.LatLng(latitude, longitude);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true
        });
        markers.push(marker);
        
        map.setCenter(location);
        if (latitude != 0 && longitude != 0) {
            map.setZoom(10); 
        }

        google.maps.event.addListener(marker, 'drag', function (e) {
            var position = marker.getPosition();
            $('#Latitude').val(position.lat());
            $('#Longitude').val(position.lng()); 
        });
    }
    
    // remove overlays on map and success messages
    function clearMarkers() {
        for( var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
        $('.success').remove();
    }
</script>