﻿@using Widgets.Domain.Entities
@model Widgets.Models.ViewModels.ExclusiveIndexViewModel
@{
    if(Model.Exclusives.Count() >0)
    {
<table class="Grid">
    
    @foreach (var item in Model.Exclusives)
    {
        <tr>
            <td style="padding-bottom:40px; padding-top:40px;">
                <div class="clearfix" style=" margin-bottom:20px;">
                    @if (item.ListingPhotos.Photos.Any())
                    {
                        <img style="width:320px; float:left;" src="@(item.ListingPhotos.Photos.ElementAt(0).RelativeFilePath)?@(DateTime.Now.Ticks)" />                        
                    }
                    <div style="float: left; margin-left: 15px;" class="GridLabel">
                        <div>
                            @Html.LabelFor(m => item.ExclusiveID)
                            @Html.DisplayFor(m => item.ExclusiveID)
                        </div>
                        <div>
                            @Html.LabelFor(m => item.Address)
                            @Html.DisplayFor(m => item.Address)
                        </div>
                        <div>
                            @Html.LabelFor(m => item.City)
                            @Html.DisplayFor(m => item.City)
                        </div>
                        <div>
                            @Html.LabelFor(m => item.AreaName)
                            @Html.DisplayFor(m => item.AreaName)
                        </div>
                        <div>
                            @Html.LabelFor(m => item.SubAreaName)
                            @Html.DisplayFor(m => item.SubAreaName)
                        </div>
                        <div>
                            @Html.LabelFor(m => item.Price)
                            @Html.DisplayFor(m => item.Price)
                        </div>
                        @if (Model.Account.AccountType == AccountType.Commercial)
                        {
                            <div>
                                @Html.LabelFor(m => item.Status)
                                @Html.DisplayFor(m => item.Status)
                            </div>
                        }
                        <div>
                            @Html.LabelFor(m => item.IsActive)
                            @Html.YesNoBool(item.IsActive)
                        </div>
                    </div>
                </div>
                @*<div>@Html.Nl2Br(item.InternetComm)</div>
                <!--<table class="InnerGrid">
                    <tr>
                        <td class="GridLabel">@Html.LabelFor(x => item.PropertyType)</td>
                        <td>@Html.DisplayFor(x => item.PropertyType)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.TypeDwelling)</td>
                        <td>@Html.DisplayFor(x => item.TypeDwelling)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.Exterior)</td>
                        <td>@Html.DisplayFor(x => item.Exterior)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.Frontage)</td>
                        <td>@Html.DisplayFor(x => item.Style)</td>
                    </tr>
                    <tr>
                        <td class="GridLabel">@Html.LabelFor(x => item.Garages)</td>
                        <td>@Html.DisplayFor(x => item.Garages)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.Heating)</td>
                        <td>@Html.DisplayFor(x => item.Heating)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.NumbBeds)</td>
                        <td>@Html.DisplayFor(x => item.NumbBeds)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.Parking)</td>
                        <td>@Html.DisplayFor(x => item.Parking)</td>
                    </tr>
                    <tr>
                        <td class="GridLabel">@Html.LabelFor(x => item.PhotoCount)</td>
                        <td>@Html.DisplayFor(x => item.PhotoCount)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.Roof)</td>
                        <td>@Html.DisplayFor(x => item.Roof)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.SqFootage)</td>
                        <td>@Html.DisplayFor(x => item.SqFootage)</td>
                        <td class="GridLabel">@Html.LabelFor(x => item.YearBuilt)</td>
                        <td>@Html.DisplayFor(x => item.YearBuilt)</td>
                    </tr>
                </table>-->*@

                <div class="exclusive-links">
                    <button onclick="window.location='@(Url.Action("Edit", "Exclusives", new { id = item.ExclusiveID }))'">Edit</button>
                    <button onclick="window.location='@(Url.Action("Photos", "Exclusives", new { id = item.ExclusiveID }))'">Photos</button>
                    <button onclick="if(confirm('Are you sure you wish to delete this listing?')) { window.location='@(Url.Action("Delete", "Exclusives", new { id = item.ExclusiveID }))'}">Delete</button>
                    <button onclick="window.location='@(Url.Action("AddDocument", "Exclusives", new { id = item.ExclusiveID }))'">Add Document</button>
                    @if (Model.Account.AccountType == AccountType.Broker)
                    {
                        <button onclick="window.location='@(Url.Action("AddOpenHouse", "Exclusives", new { id = item.ExclusiveID }))'">Add Open House</button>  
                    }
                </div>
                @if (item.ListingDocuments != null && item.ListingDocuments.Documents.Any())
                {
                    <div class="exclusive-meta">
                        @Html.LabelFor(m => item.ListingDocuments)
                        <ul>
                            @foreach (var document in item.ListingDocuments.Documents)
                            {
                                <li>@Html.ActionLink("Delete", "DeleteDocument", "Exclusives", new { id = item.ExclusiveID, documentpath = document.AbsoluteFilePath }, new { }) | @document.FileName</li>
                            }
                        </ul>
                    </div>
                }
                @if (item.OpenHouses != null && item.OpenHouses.Any())
                {
                    <div class="exclusive-meta">
                        @Html.LabelFor(m => item.OpenHouses)
                        <ul>
                            @foreach (var openhouse in item.OpenHouses)
                            {
                                <li>@Html.ActionLink("Edit", "EditOpenHouse", new { id = openhouse.OpHoID }) | <span>@openhouse.StartDate, @openhouse.StartTime - @openhouse.EndTime</span></li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    }
</table>
}
else
{
        <label style="color:red">No items found</label>
    }
}