﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Welcome to your Realty Sites Real Estate Account,</h2>

<p>Please click on a link in the left column to manage your account information.</p>
<p>Live Happy and Have a great day!</p>
<p>-------Realty Sites Agent-Real Estate Solutions</p>