﻿@model Widgets.Models.ViewModels.BulletinBoardIndexViewModel

@{
    ViewBag.Title = "Display Bulletin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageheader
{
    <script type="text/javascript" src="@Url.Content("~/content/js/vendor/jquery.lightbox_me.js")"></script>
}

<div id="admincreatelink">@Html.ActionLink("Create / Edit Bulletins", "Index", "BulletinBoard")</div>

<div id="display-bulletin">
    @foreach (var item in Model.Bulletins)
    {
        <p class="bulletin-title">
           @item.Title @if(@item.IsNews){ <img src="@Url.Content("~/Content/images/newsbubble.png")" alt="Public Facing News Item" title="Public Facing News Item"/>}
        </p>    
        <p class="bulletin-date">@item.StartDate.ToString("MM/dd/yy")</p>
        <p class="bulletin-author">@item.Agent.FullName</p>          
        <p>@Html.Raw(item.Description)</p>
        <p><a href="#" data-id="@(item.Id)" class="bulletin-readmore">Read Full Story</a></p>
    
        <hr />
    }
</div>

<script type="text/javascript">
    $(function () {
        $('.bulletin-readmore').on('click', function (e) {
            e.preventDefault();
            
            var url = "@Url.Action("DisplaySingleBulletin", "BulletinBoard")" + "/" + $(this).data().id;
            var ele = $('<div>').attr('id', 'popup')
                .addClass('vdc-popup')
                .load(url);
            
            $('#display-bulletin').append(ele);
            $('#popup').lightbox_me({
                destroyOnClose: true
            });
        });

    });
</script>