﻿@model Widgets.Models.ViewModels.BulletinBoardIndexViewModel

@{
    ViewBag.Title = "Bulletins";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="admincreatelink">@Html.ActionLink("Create Bulletin", "Create", "BulletinBoard")</div>

<table class="Grid">
    <tr>
        <th>
        </th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>

    @foreach(var bulletin in Model.Bulletins)
    {
        <tr>
            <td>
                @if (User.IsInRole("User"))
                {
                    if(bulletin.Agent.UserName == User.Identity.Name)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = bulletin.Id })  <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { id = bulletin.Id }, new { onclick = "return confirm('Are you sure you wish to delete this bulletin?');" }) 
                    }
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = bulletin.Id }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = bulletin.Id }, new { onclick = "return confirm('Are you sure you wish to delete this bulletin?');" }) 
                }
            </td>
            <td><a href="#" class="bulletin-title">@bulletin.Title </a>
                <div class="bulletin-description">
                    @Html.Raw(bulletin.Description)
                </div>
            </td>
            <td>@bulletin.Agent.FullName</td>
            <td>@bulletin.StartDate.ToString("MM/dd/yy")</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Bulletin Board", "DisplayBulletin")
</div>

<script type="text/javascript">
    $(function () {
        $('.bulletin-title').hover(
            function () {
                $(this).next().show();
            },
            function () {
                $(this).next().hide();
            }
        );
    });
</script>