﻿@model Widgets.Models.ViewModels.ManageDisclaimersViewModel

@{
    ViewBag.Title = "Manage Disclaimers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="admincreatelink">
    @Html.ActionLink("Create New", "Create")
</div>

<table class="Grid">
    <tr>
        <th></th>
        <th>Board Code</th>
    </tr>

@foreach (var item in Model.Disclaimers) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this disclaimer?');" })
        </td>
        <td>@item.BoardCode</td>
    </tr>
}

</table>
