﻿@model Widgets.Models.ViewModels.ListingFilesViewModel

@{
    ViewBag.Title = "Add Listing File";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add File</h3>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@if (ViewBag.FileSizeError != null)
{
    <p class="warning">@ViewBag.FileSizeError</p>
}

@using (Html.BeginForm("Create", "ListingFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("mlsnumber")
    <div>
        <div>
            <span class="editor-label col1" style="width:auto"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Name)</span>
            <span class="editor-field col2">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </span>
        </div>
        <div class="editor-label">
            <span class="required">*&nbsp;</span>
            @Html.LabelFor(x => x.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Address, new { @class = "defaultText", @title = "Enter property address or MLS #..." })
        </div>

        <p>Select file (Maximum upload file size 25MB)</p>
        <input type="file" name="file" id="file" />
        <p>
            <input type="submit" value="Upload File" />
            @Html.ActionLink("Cancel", "Index")
        </p>
    </div>
    
    
<script type="text/javascript" src="@Url.Content("~/Content/js/defaultText.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#Address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Model.DefaultHostName)/FeaturedListing/SearchListings",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        address: request.term
                    },
                    success: function (data) {
                        response($.map(data.listings, function (item) {
                            return {
                                label: item.Address + ", " + item.City + ", MLS® " + item.MlsNumber,
                                photo: item.DefaultPhoto,
                                price: item.Price,
                                mlsnumber: item.MlsNumber,
                                value: item.Address,
                                address: item.Address + ", " + item.City
                            };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {

                $('#preview').empty();
                $('#preview').append($('<img>', {
                    src: ui.item.photo
                }));

                $('#preview').append($('<div>').html("<label>Address:</label> " + ui.item.address));
                $('#preview').append($('<div>').html("<label>Price:</label> " + ui.item.price));
                $('#preview').append($('<div>').html("<label>MLS Number:</label> " + ui.item.mlsnumber));

                $('#mlsnumber').val(ui.item.mlsnumber);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    });
</script>
}