﻿@using Widgets.Models
@model Widgets.Models.ViewModels.ListingFilesIndexViewModel

@{
    ViewBag.Title = "Listing Files";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageheader
{
    <style type="text/css">
        .Grid img  {
            margin: 2px;
            vertical-align: bottom;
        }
    </style>
}

@if (User.IsInRole(UserRole.Super.ToString()) || User.IsInRole(UserRole.Admin.ToString()))
{
    <div id="admincreatelink">
        @Html.ActionLink("Upload File", "Create")
    </div>
}

<p>Click the on the file name to download</p>
<table class="Grid">
    <tr>
        <th></th>
         <th>@Html.Label("MLS Number")</th>
        <th>@Html.ActionLink("File Name", "Index", "Documents", new { sortby = ViewBag.FileNameSort }, new { title = "Click to sort" })</th>
        <th>@Html.ActionLink("Upload Date", "Index", "Documents", new { sortby = ViewBag.UploadDateSort }, new { title = "Click to sort" })</th>
    </tr>

@foreach (var item in Model.ListingFiles) {
    <tr>
        <td>
            @if (User.IsInRole(UserRole.Super.ToString()) || User.IsInRole(UserRole.Admin.ToString()))
            {
                @Html.ActionLink("Delete", "Delete", new { item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this file?');" })
            }
        </td>
        <td>
            @item.Mlsnumber
        </td>
        <td>
            @switch(item.MimeType)
            {
                case "application/pdf":
                    <text><img src="@Url.Content("~/Content/images/page_white_acrobat.gif")"/></text>
                    break;
                               
                case "text/plain":
                    <text><img src="@Url.Content("~/Content/images/page_white_text.gif")"/></text>
                    break;
                    
                case "application/octet-stream":
                    <text><img src="@Url.Content("~/Content/images/page_white_gear.gif")"/></text>
                    break;
                    
                case "application/msword":
                    <text><img src="@Url.Content("~/Content/images/page_white_word.gif")"/></text>
                    break;                     
                
                case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                    <text><img src="@Url.Content("~/Content/images/page_white_word.gif")"/></text>
                    break;                      
                    
                case "application/vnd.ms-excel":
                    <text><img src="@Url.Content("~/Content/images/page_white_excel.gif")"/></text>
                    break;      
                                    
               case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                    <text><img src="@Url.Content("~/Content/images/page_white_excel.gif")"/></text>
                    break;

               case "application/vnd.ms-powerpoint":
                    <text><img src="@Url.Content("~/Content/images/page_white_powerpoint.gif")"/></text>
                    break;

               case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                    <text><img src="@Url.Content("~/Content/images/page_white_powerpoint.gif")"/></text>
                    break;

               case "application/x-zip-compressed":
                    <text><img src="@Url.Content("~/Content/images/page_white_compressed.gif")"/></text>
                    break;
                    
               case "image/png":
                    <text><img src="@Url.Content("~/Content/images/page_white_picture.gif")"/></text>
                    break;

               case "image/jpeg":
                    <text><img src="@Url.Content("~/Content/images/page_white_picture.gif")"/></text>
                    break;
                    
               case "image/gif":
                    <text><img src="@Url.Content("~/Content/images/page_white_picture.gif")"/></text>
                    break;
                    
               case "image/bmp":
                    <text><img src="@Url.Content("~/Content/images/page_white_picture.gif")"/></text>
                    break;      
                    
                default:
                    <text><img src="@Url.Content("~/Content/images/page_white.gif")"/></text>
                    break;
            }
            <a href="@item.FilePath" target="_blank">@item.FileName</a>
        </td>
        <td>
            @item.UploadDate.ToShortDateString()
        </td>
    </tr>

}
</table>
