﻿@model Widgets.Models.ViewModels.DocumentViewModel

@{
    ViewBag.Title = "Add Document";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h3>Add Document</h3>
@using (Html.BeginForm("AddDocument", "Exclusives", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.ExclusiveId)
    <input type="file" name="postedFile" id="postedFile" />
    <p>
        <input type="submit" value="Save"/> @Html.ActionLink("Cancel", "Index", "Exclusives")
    </p>
}