﻿@model Widgets.Models.ViewModels.OpenHouseViewModel

@{
    ViewBag.Title = "Add Open House";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section pageheader
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
}

<h3>Add Open House</h3>
@using (Html.BeginForm("AddOpenHouse", "Exclusives", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Save"/> @Html.ActionLink("Cancel", "Index", "Exclusives")
    </p>
}

<script type="text/javascript">
    $(function() {
        $('#FromDate').datepicker();
    });
</script>