﻿@model IEnumerable<Widgets.Models.ViewModels.LeadInfo>

<a class="close" href="#">close</a>
<table class="Grid">
    <tr>
        <th>Lead</th>
        <th>Created</th>
        <th>Note</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.LeadId</td>
        <td>@item.Created</td>
        <td>@item.Note</td>
    </tr>
}

</table>
