﻿@import url(site.css);
@import url(shared.css);

body, td
{
    font-size: 100%;
    font-family: Segoe UI, Verdana;
    height: 100%;
}

h1
{
    padding: .5em;
    padding-top: 0;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid gray;
    border-bottom: 2px solid gray;
}

div#header div.title, div#adminnavigation a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

div#header div.title {
    font-size: 1.5em;
    padding-left: .6em;
    padding-top: .2em;
}

div#header div.title img {
    vertical-align: bottom;
    margin-right: .6em;
}

div#header div.title span {
    margin-bottom: .1em;
    display: inline-block;
}

div#wrapper {
    position: relative;
    width: 1225px;
    min-height: 100%;
}

div#headerbar {
    margin: .4em 0 .4em 0;
    padding-left: 1.6em;
}

div#headerbar label:after {
    content: ":";
}

#realty-copyright {
    margin-left:auto;
    margin-right:auto;
    width: 500px;
}

div.authuser
{
    float: right;
    padding: .3em;
    margin-right: .6em;
}

#authenticateduser {
    text-align: right;
    color: silver;
}

#authenticateduser a {
    color: white;
}

#authenticateduser a:hover {
    color: silver;
    text-decoration: underline;
}

ul#adminnavigation {
    list-style: none outside none;
    margin: 0 0 0 1.5em;
    background-color: #0098c7;
    padding: .2em .6em .2em .2em;    
}

ul#adminnavigation li {
    width: auto;
    margin-left: .6em;
}

ul#adminnavigation a
{
    text-decoration: none;
    padding: .2em;
    color: white;
    line-height: 22px;
    text-shadow: none;
    letter-spacing: -0.01em;
    font-size: 90%; 
}

ul#adminnavigation a:hover {
    text-decoration: underline;
}

ul#adminnavigation a.selected {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #1e3d7d;
    color: white;
}

div#menu {
    float: left;
    margin: 0 15px 0 0;
}

div#content
{
    padding: .5em;    
    border: 1px solid #cccccc;
    width: 1000px;
    min-height: 700px;
    float: left;
}

div#pagecontent
{
    padding: .5em;
    margin: 1em;  
    border: 1px solid #cccccc;
    width: 1000px;
}

table.Grid td, table.Grid th
{
    border-bottom: 1px dotted gray;
    text-align: left;
    padding: 0 15px 0 15px;
}

table.Grid, table.InnerGrid
{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

table.Grid th a.sort {
    font-weight: bold;
}

table.Grid th a.sort:hover {
    color: #777;
}

table.assume tr+tr:hover {
    background-color: #FEEFB3;
    cursor: pointer;
}​

table.InnerGrid td, table.InnerGrid th {
    border-bottom: none;
    text-align: left;
    padding: 0 15px 0 15px;
    border: 1px solid #ccc;
}

table.InnerGrid .GridLabel {
    background-color: grey;
    color: white;
}

.GridLabel label:after, .editor-label label:after {
    content: ":";
}

form
{
    margin-bottom: 0px;
}

div.Message
{
    background: gray;
    color: White;
    padding: .2em;
    margin-top: .25em;
}

#admincreatelink {
    margin-left: 2px;
    margin-bottom: 15px;
}

#admincreatelink a
{
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #A8B2AA;
    text-shadow: 1px white;
    background: #AED352;
    color: black;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    font-weight: 400;
    padding: 3px 7px;
    margin: -2px 0 0 9px;
    text-decoration: none;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

#admincreatelink a:hover {
    background: #90B740;
    color: black;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;  
}

.required {
    color: red;
}

/* bulletin board / news styles
-----------------------------------------------------------*/
div.bulletin-description {
    display: none;
    border: 1px solid #ccc;
    background: #eef;
    padding: 5px;
    position: absolute;
}
   
div.newsbubble {
    float: right;
    padding: 0;
    margin: 0;
}
    
div#display-bulletin p {
    margin: 0;
}
        
p.bulletin-title  {
    font: bold small-caps 18px arial;                
}
        
p.bulletin-date {
    font: 10px arial;
}
        
p.bulletin-author {
    padding-bottom: 5px;
}
        
p.bulletin-readmore {
    font: normal 11px aria;
}
        
p.bulletin-title img {
    margin-right: 5px;
}

/* broker contacts styles
-----------------------------------------------------------*/

ul#sortable
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul#sortable li.contact
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 500px;
    background-color: #ccc;
    margin: 5px 0 5px 0;
    border: 1px dotted black;
}
        
ul#sortable li.contact:hover
{
    background-color: #aaa;
    cursor: move;
}
        
ul#sortable div.contact-photo
{
    float: left;
}
        
ul#sortable div.contact-photo img
{
    padding: 5px 0 5px 5px;
    width: 80px;
    vertical-align: top;
}
        
ul#sortable div.contact-info
{
    float: left;
    margin-left: 15px;
}

/* edit coordinates & featured listing styles
-----------------------------------------------------------*/  
div#listinginfo {
    float: left;
    margin-right: 20px;
}

div#admincreatelink {
    float: left;
}

div#autoselect {
    float: right;
}
        
div#map-search {
    float: left;
    border: 2px groove ThreeDFace;
    margin-top: 8px;            
}

.defaultText { 
    width: 195px; 
}
.defaultTextActive { color: #a1a1a1; font-style: italic; }     

div#search
{
    float: left;
    margin-right: 20px;
}

div#preview {
    width: 350px;
    float: left;
}

div#preview img {
    width: 100%;
    border: 2px groove ThreeDFace;
    margin-top: 8px;
}
        
div#preview label {
    font-style: italic;
}
         
        
/* jQuery UI effects
-----------------------------------------------------------*/        
.ui-state-highlight
{
    height: 98px;
    line-height: 1.2em;
}

.ui-autocomplete-loading {
    background: white url('/content/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
       