@import url(shared.css);

body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 100px;
    min-width: 350px
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin: 0;
}

.editor-field img {
    z-index:2;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    display: block;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#signincontent 
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;    
    background: #eef2f7;
    border: 1px solid #536376;
    min-width: 500px;
    width: 600px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 35px 20px 35px 20px;
}

.col1 {
    display: inline-block;
    width: 200px;
    text-align: right;
    min-height: 28px;
    margin-top: 5px;
    padding-right: 4px;
    vertical-align: top;
}

.col2 {
    display: inline-block;
    width: 200px;
    text-align: left;
    min-height: 28px;
    margin-top: 5px;
}