﻿@model Widgets.Models.ViewModels.AgentInfo

@{
    ViewBag.Title = "Create Agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h3>Create Agent</h3>
@using (Html.BeginForm("Create", "Agent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Create" /> @Html.ActionLink("Cancel", "ManageAgents")
    </p>
}