﻿@model Widgets.Models.ViewModels.ManageSettingsViewModel
@{
    ViewBag.Title = "ManageSettings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Manage Settings</h3>
<p>Use the following fields to set the mortgage calculator default settings.</p>
@using (Html.BeginForm())
{
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Amortization)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Amortization)</div>
    </div>
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Term)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Term)</div>
    </div>
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.InterestRate)</div>
        <div class="editor-field">@Html.EditorFor(m => m.InterestRate)</div>
    </div>
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Principal)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Principal)</div>
    </div>
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.DownPayment)</div>
        <div class="editor-field">@Html.EditorFor(m => m.DownPayment)</div>
    </div>
    <input type="submit" />
}
