﻿@{
    ViewBag.Title = "Add File";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add File</h3>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@if (ViewBag.FileSizeError != null)
{
    <p class="warning">@ViewBag.FileSizeError</p>
}

@using (Html.BeginForm("Create", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Select file (Maximum upload file size 25MB)</p>
    <input type="file" name="file" id="file" />
    <p>
        <input type="submit" value="Upload File" />
        @Html.ActionLink("Cancel", "Index")
    </p>
}