﻿@model Widgets.Models.ViewModels.AgentInfo
            
<div class="vdc-listing-agent-picture">
    <img src="@Model.AgentPhoto" alt="@Model.FullName" />
</div>      

<div class="vdc-listing-agent-name">
    <span>@Model.FullName</span>
</div>     
<div class="vdc-listing-agent-title">
    <span>@Model.AgentTitle</span>
</div>      
@if (!String.IsNullOrEmpty(Model.Phone))
{
    <div class="vdc-listing-agent-phone">
        @Html.LabelFor(m => m.Phone)
        <span>@Model.Phone</span>
    </div>   
}    
<div class="vdc-listing-agent-cellular">
    @Html.LabelFor(m => m.Cell)
    <span>@Model.Cell</span>
</div>
@if (Model.Account.Features.AgentWebsiteLink && !string.IsNullOrEmpty(Model.AgentWebsite))
{
    <div class="vdc-listing-agent-website">
        <span>
            <a href="@Model.AgentWebsite" target="_blank">Website</a>
        </span>
    </div>
}    