﻿@model Widgets.Models.ViewModels.ContactsWidget
@foreach (var item in Model.Contacts)
{
    <div class="vdc-contact clearfix">
        <div class="vdc-contact-photo">
            <img src="@item.Agent.AgentPhoto" />
        </div>
        <div class="vdc-contact-info">
            <div class="vdc-contact-fullname">@item.Agent.FullName</div>
            <div class="vdc-contact-title">@item.Agent.AgentTitle</div>
            <div class="vdc-contact-email">
                <a class="vdc-email-contact" data-agentid="@item.Agent.AgentID" href="#"><img src="@(Model.DefaultHostName)/Content/images/email_32.png" alt="Email" title="Email"/></a>
            </div>
            
        </div>
    </div>
}
<script src="@(Model.DefaultHostName)/content/js/vendor/vdcopts.jquery.lightbox_me.js" type="text/javascript"></script>
<script src="@(Model.DefaultHostName)/content/js/displayContacts.js" type="text/javascript"></script>