﻿@model Widgets.Models.ViewModels.FeaturedListingViewModel
<div id="vdc-featuredlistings" class="clearfix">
    @foreach (var item in Model.Listings)
    {
        <div class="vdc-featured-listing">
            @if (item.ExclusiveID == null)
            {
                <div class="mls-number">@Html.LabelFor(m => item.MlsNumber) @Html.DisplayFor(m => item.MlsNumber)</div>
               
                if (((Widgets.Domain.Entities.Account)ViewBag.Account).Features.ShowListingDetailsInPage)
                {
                <a href="/ListingDetails?property=@item.PropertyType&id=@item.MlsNumber">
                    <img class="listing-imageforpage" src="@(item.DefaultPhoto)" alt="@(item.MlsNumber)" />
                </a>
                <a class="moredetailspage" href="/ListingDetails?property=@item.PropertyType&id=@item.MlsNumber">More Details</a>
                }
                else
                {
                <img class="listing-image" data-property="@item.PropertyType" data-mlsnumber="@item.MlsNumber" src="@(item.DefaultPhoto)" alt="@(item.MlsNumber)" />
                <a class="moredetails" data-property="@item.PropertyType" data-mlsnumber="@item.MlsNumber" href="#">More Details</a>
                }
            }
            else
            {
                <div class="mls-number">@Html.Label("Exclusive") @Html.DisplayFor(m => item.ExclusiveID)</div>

                if (((Widgets.Domain.Entities.Account)ViewBag.Account).Features.ShowListingDetailsInPage)
                {
                <a href="/ListingDetails?property=Exclusive&id=@item.ExclusiveID">
                    <img class="listing-imageforpage" src="@(item.DefaultPhoto)" alt="@(item.ExclusiveID)" />
                </a>
                <a class="moredetailspage" href="/ListingDetails?property=Exclusive&id=@item.ExclusiveID">More Details</a>
                }
                else
                {
                <img class="listing-image" data-property="Exclusive" data-mlsnumber="@item.ExclusiveID" src="@(item.DefaultPhoto)" alt="@(item.ExclusiveID)" />
                <a class="moredetails" data-property="Exclusive" data-mlsnumber="@item.ExclusiveID" href="#">More Details</a>
                }
            }
            <div class="mls-number">@Html.LabelFor(m => item.MlsNumber) @Html.DisplayFor(m => item.MlsNumber)</div>
            <div class="address">@(item.Address)</div>
            <div class="city">@(item.SubAreaNameCity)</div>
            <div class="price">@(item.Price)</div>
            <div class="mlsnumberadd">@(item.MlsNumber)</div>
            <div class="bedroom">@(item.NumbBeds)</div>
            <div class="bathroom">@(item.Bathrooms)</div>
        </div>
    }
</div>
<script src="@Model.DefaultHostName/Scripts/galleria/galleria-1.2.7.min.js" type="text/javascript"></script>
<script src="@(Model.DefaultHostName)/content/js/vendor/vdcopts.jquery.lightbox_me.js" type="text/javascript"></script>
<script src="@(Model.DefaultHostName)/content/js/featuredListings.js" type="text/javascript"></script>
