﻿@model Widgets.Models.ViewModels.MortgageCalculatorViewModel
<p>Use this calculator to estimate your mortgage payments.</p>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Amortization)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Amortization)</div>
    </div>        
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Term)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Term)</div>
    </div>        
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.InterestRate)</div>
        <div class="editor-field">@Html.EditorFor(m => m.InterestRate)</div>
    </div>        
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.Principal)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Principal)</div>
    </div>        
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.DownPayment)</div>
        <div class="editor-field">@Html.EditorFor(m => m.DownPayment)</div>           
    </div>      
    <div>
        <div class="editor-label">&nbsp;</div>
        <div class="editor-field"><input type="button" value="Calculate" /></div>
    </div>       
}
@if(Model.ShowResults)
{
<hr/>
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.DownPaymentRequired)</div>
        <div class="disabled-field">@Model.DownPaymentRequired.ToString("C")</div>
    </div>      
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.MortgagePrincipal)</div>
        <div class="disabled-field">@Model.MortgagePrincipal.ToString("C")</div>
    </div>      
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.MonthlyPayment)</div>
        <div class="disabled-field">@Model.MonthlyPayment.ToString("C")</div>
    </div>      
    <div>
        <div class="editor-label">@Html.LabelFor(m => m.OwingAtTerm)</div>
        <div class="disabled-field">@Model.OwingAtTerm.ToString("C")</div>
    </div>    
}
<script src="@Model.DefaultHostName/Content/js/mortgageCalculator.js" type="text/javascript"></script>