﻿@model Widgets.Models.ViewModels.NewsItemViewModel
<script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")"></script>
@Html.HiddenFor(model => model.IsNews)
<div class="editor-label">
    @Html.LabelFor(model => model.StartDate)
</div>
<div class="editor-field">
    @Html.TextBox("StartDate", Model.StartDate.ToString("MM/dd/yy"))
    @Html.ValidationMessageFor(model => model.StartDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>
<script type="text/javascript">
    $(function () {
        $('#StartDate').datepicker();
        $('#Description').ckeditor();

        for (instance in CKEDITOR.instances) {

            CKEDITOR.instances[instance].on("instanceReady", function () {

                //set keyup event
                this.document.on("keyup", function () { CKEDITOR.instances[instance].updateElement(); });
                //and paste event
                this.document.on("paste", function () { CKEDITOR.instances[instance].updateElement(); });

            });
        }        
    });
</script>
