﻿@model Widgets.Models.ViewModels.ContactsIndexViewModel
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Sort Contacts</h3>
<span>To modify the order, simply drag and drop the contacts in the order you want and click the save button at the bottom.</span>
<ul id="sortable">
    @foreach (var item in Model.Contacts)
    {
        <li data-contactid="@item.Id" class="contact clearfix">
            <div class="contact-photo">
                <img src="@item.Agent.AgentPhoto"/>
            </div>
            <div class="contact-info">
                <div>@Html.DisplayFor(x => item.Agent.FullName)</div>
                <div>@Html.DisplayFor(x => item.Agent.AgentTitle)</div>
                <div>@Html.DisplayFor(x => item.Agent.Email)</div>
            </div>
        </li>
    }
</ul>
<p>
    <button id="submit">Save</button> @Html.ActionLink("Cancel", "Index", "Home")
</p>

<script type="text/javascript">
    $(function () {
        $('#sortable').sortable({
            placeholder: "ui-state-highlight"
        });

        $('#submit').on('click', function (e) {
            var order = [];

            $('#sortable li').each(function (index) {
                var val = $(this).data('contactid');
                var obj = { "id": val, "order": index };
                order.push(obj);
            });

            var jsonUrl = "@(Model.DefaultHostName)" + "/contacts/index/";

            $.ajax({
                type: 'POST',
                url: jsonUrl,
                data: JSON.stringify(order),
                contentType: 'application/json',
                success: function (data) {
                    $('.success').remove();
                    var ele = $('<div>').addClass('success').html(data.message);
                    $('#content').prepend(ele);
                }
            });

        });
    });
</script>
