﻿@model Widgets.Models.ViewModels.AccountViewModel
<style>
    .accountinfo {
        float: left;
    }

    .accountimage {
        float: left;
        margin-left: 20px;
    }

    .accountinfo textarea {
        min-width: 100px;
    }
</style>
<div class="clearfix">
    <div class="accountinfo">
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Name)</span> <span class="editor-field col2">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.AccountType)</span>
            <span class="editor-field col2">
                @Html.DropDownListFor(model => model.AccountType, Model.AccountTypes, "Select", new { Name = "AccountType" })
                @Html.ValidationMessageFor(model => model.AccountType)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.BoardCode)</span>
            <span class="editor-field col2">
                @Html.DropDownListFor(model => model.BoardCode, Model.BoardCodes, null, new { Name = "BoardCode" })
                @Html.ValidationMessageFor(model => model.BoardCode)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.BrokerCode)</span>
            <span class="editor-field col2">
                @Html.TextAreaFor(model => model.BrokerCode)
                @Html.ValidationMessageFor(model => model.BrokerCode)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.AgentCode)</span>
            <span class="editor-field col2">
                @Html.TextAreaFor(model => model.AgentCode)
                @Html.ValidationMessageFor(model => model.AgentCode)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Phone)</span>
            <span class="editor-field col2">
                @Html.TextBoxFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Fax)</span> <span class="editor-field col2">
                @Html.TextBoxFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Email)</span>
            <span class="editor-field col2">
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Website)</span>
            <span class="editor-field col2">
                @Html.TextBoxFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Latitude)</span>
            <span class="editor-field col2">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Longitude)</span>
            <span class="editor-field col2">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.FacebookAppID)</span>
            <span class="editor-field col2">
                @Html.EditorFor(model => model.FacebookAppID)
                @Html.ValidationMessageFor(model => model.FacebookAppID)
            </span>
        </div>
    </div>
    <div class="accountimage">
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.Logo)</span>
            <span class="editor-field col2">
                @if (Model.Logo != null && Model.Logo.Length != 0)
                {
                    <img src='@Url.Action("GetAccountLogo", "Account", new { apiKey = Model.Id })' />
                }
                <input type="file" name="postedFile" id="postedFile" />
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.MapMarker)</span>
            <span class="editor-field col2">
                @if (Model.MapMarker != null && Model.MapMarker.Length != 0)
                {
                    <img style="vertical-align: middle; margin-right: 10px;" src='@Url.Action("GetAccountMapMarker", "Account", new { apiKey = Model.Id })' />
                    @Html.ActionLink("Delete", "DeleteAccountMapMarker", "Account", new { id = Model.Id }, null)
                }
                <input type="file" name="postedMarker" id="postedMarker" />
            </span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(model => model.MapMarkerMore)</span>
            <span class="editor-field col2">
                @if (Model.MapMarkerMore != null && Model.MapMarkerMore.Length != 0)
                {
                    <img style="vertical-align: middle; margin-right: 10px;" src='@Url.Action("GetAccountMapMarkerMore", "Account", new { apiKey = Model.Id })' />
                    @Html.ActionLink("Delete", "DeleteAccountMapMarkerMore", "Account", new { id = Model.Id }, null)
                }
                <input type="file" name="postedMarkerMore" id="postedMarkerMore" />
            </span>
        </div>
    </div>
</div>
