﻿@using Widgets.Domain.Entities
@model Widgets.Models.ViewModels.ExclusivesViewModel
<div id="exclusive-listing-form">
    <span class="col1 required">* = required field</span> 
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Exclusive.BrokerName)</span> 
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.BrokerName)
            @Html.ValidationMessageFor(model => model.Exclusive.BrokerName)
        </span>
    </div>          
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Agents)</span> 
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.AgentIndCode, Model.Agents)
            @Html.ValidationMessageFor(model => model.Agents)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.CoAgents)</span> 
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.CoAgentIndCode, Model.CoAgents)
            @Html.ValidationMessageFor(model => model.CoAgents)
        </span>
    </div>
    <!--<div>
        <span class="editor-label col1">@Html.LabelFor(model => model.CoAgents2)</span> 
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.CoAgentIndCode2, Model.CoAgents2)
            @Html.ValidationMessageFor(model => model.CoAgents2)
        </span>
    </div>-->
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.City)</span>
        <span class="editor-field  col2">
            @Html.EditorFor(model => model.Exclusive.City)
            @Html.ValidationMessageFor(model => model.Exclusive.City)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Address)</span>
        <span class="editor-field  col2">
            @Html.EditorFor(model => model.Exclusive.Address)<button id="map-address">Map Address</button>
            @Html.ValidationMessageFor(model => model.Exclusive.Address)
            <label class="field-validation-error" id="lb_map_address_error"></label>
        </span>
    </div>
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Exclusive.AreaName)</span>
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.AreaCode, Model.Areas)
            <input name="otherarea" type="text" maxlength="50" id="otherarea" />
            @Html.ValidationMessageFor(model => model.Exclusive.AreaName)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.SubAreaName)</span>
        <span class="editor-field col2">
            @Html.Hidden("TempDistrictCode", Model.Exclusive.DistrictCode, new { id = "TempDistrictCode" })
            <select id="Exclusive_DistrictCode" name="Exclusive.DistrictCode">
                <option value="">Select</option>
            </select>
            <input name="othersubarea" type="text" maxlength="255" id="othersubarea" />
            @Html.ValidationMessageFor(model => model.Exclusive.SubAreaName)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Latitude)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Latitude)
            @Html.ValidationMessageFor(model => model.Exclusive.Latitude)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Longitude)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Longitude)
            @Html.ValidationMessageFor(model => model.Exclusive.Longitude)
        </span>
    </div>
    <p>Listing Details</p>
    @if (Model.Account.AccountType == AccountType.Commercial)
    {
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Exclusive.Status)</span>
        <span class="editor-field col2">
            <input id="Exclusive.ForSale" type="checkbox" name="Exclusive.ForSale" value="ForSale" @(Model.Exclusive.Status.Contains("For Sale") ? "checked" : "")/>
            @Html.Label("For Sale")            
            <input id="Exclusive.ForLease" type="checkbox" name="Exclusive.ForLease" value="ForLease" @(Model.Exclusive.Status.Contains("For Lease") ? "checked" : "")/>
            @Html.Label("For Lease")
            <br />
             <input id="Exclusive.Sold" type="checkbox" name="Exclusive.Sold" value="Sold" @(Model.Exclusive.Status.Contains("Sold") ? "checked" : "")/>
            @Html.Label("Sold")
             <input id="Exclusive.Leased" type="checkbox" name="Exclusive.Leased" value="Leased" @(Model.Exclusive.Status.Contains("Leased") ? "checked" : "")/>
            @Html.Label("Leased")
            @Html.ValidationMessageFor(model => model.Exclusive.Status)
        </span>
    </div>
    }
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Exclusive.PropertyType)</span>
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.PropertyType, Model.PropertyTypes)
            @Html.ValidationMessageFor(model => model.Exclusive.PropertyType)
        </span>
    </div>
    <div>
        <span class="editor-label col1"><span class="required">*&nbsp;</span>@Html.LabelFor(model => model.Exclusive.ListPrice)</span>
        <span class="editor-field col2">
            @Html.TextBoxFor(model => model.Exclusive.ListPrice,new { style="width:110px", Value=String.Format("{0:,##0.00}",Model.Exclusive.ListPrice) }) /
            @Html.TextBoxFor(model => model.Exclusive.PriceHash, new { style="width:50px" })
            @Html.ValidationMessageFor(model => model.Exclusive.ListPrice)
        </span>
    </div>  
      <div>
        <span class="editor-label col1"></span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.ShowDecimal)
            @Html.LabelFor(model => model.Exclusive.ShowDecimal)
        </span>
    </div> 
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.TypeDwelling)</span>
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.TypeDwelling, Model.Type)
            @Html.ValidationMessageFor(model => model.Exclusive.TypeDwelling)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Style)</span>
        <span class="editor-field col2">
            @Html.DropDownListFor(model => model.Exclusive.Style, Model.Styles)
            @Html.ValidationMessageFor(model => model.Exclusive.Style)
        </span>
    </div>
    <div>
        <span class="editor-label col1"></span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.IsActive)
            @Html.LabelFor(model => model.Exclusive.IsActive)
        </span>
    </div> 
    <div>
        <span class="editor-label col1"></span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.IsRental)
            @Html.LabelFor(model => model.Exclusive.IsRental)
        </span>
    </div> 
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.EquipIncl)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.EquipIncl)
            @Html.ValidationMessageFor(model => model.Exclusive.EquipIncl)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Exterior)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Exterior)
            @Html.ValidationMessageFor(model => model.Exclusive.Exterior)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Roof)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Roof)
            @Html.ValidationMessageFor(model => model.Exclusive.Roof)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Basement)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Basement)
            @Html.ValidationMessageFor(model => model.Exclusive.Basement)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Heating)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Heating)
            @Html.ValidationMessageFor(model => model.Exclusive.Heating)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Garages)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Garages)
            @Html.ValidationMessageFor(model => model.Exclusive.Garages)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Parking)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Parking)
            @Html.ValidationMessageFor(model => model.Exclusive.Parking)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.NumbBeds)</span>
        <span class="editor-field col2">
            @Html.TextBoxFor(model => model.Exclusive.NumbBeds,new { @onkeypress = "return OnlyNumeric(this);" })
            @Html.ValidationMessageFor(model => model.Exclusive.NumbBeds)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Bathrooms)</span>
        <span class="editor-field col2">
            @Html.TextBoxFor(model => model.Exclusive.Bathrooms,new { @onkeypress = "return OnlyNumeric(this);" })
            @Html.ValidationMessageFor(model => model.Exclusive.Bathrooms)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.Frontage)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.Frontage)
            @Html.ValidationMessageFor(model => model.Exclusive.Frontage)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.DepthInformation)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.DepthInformation)
            @Html.ValidationMessageFor(model => model.Exclusive.DepthInformation)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.SqFootage)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.SqFootage)
            @Html.ValidationMessageFor(model => model.Exclusive.SqFootage)
        </span>
    </div>
    <div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.YearBuilt)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.YearBuilt)
            @Html.ValidationMessageFor(model => model.Exclusive.YearBuilt)
        </span>
    </div>
<div>
        <span class="editor-label col1">@Html.LabelFor(model => model.Exclusive.VirtualTour)</span>
        <span class="editor-field col2">
            @Html.EditorFor(model => model.Exclusive.VirtualTour)
            @Html.ValidationMessageFor(model => model.Exclusive.VirtualTour)
        </span>
    </div>
</div>
<div id="exclusive-listing-map">
    <span>Click and drag the marker to adjust the latitude & longitude.</span>
    <div id="map-search" style="width:500px; height:500px;"></div>
    <div id="listing-description">
        <span class="editor-label">
            @Html.LabelFor(model => model.Exclusive.InternetComm)
        </span>
        <span class="editor-field">
            @Html.TextAreaFor(model => model.Exclusive.InternetComm)
            @Html.ValidationMessageFor(model => model.Exclusive.InternetComm)
        </span>
    </div>
</div>


<script type="text/javascript">
    var exclusives = new VDC.Exclusives({
        "loadSubAreaUrl": "@(Model.DefaultHostName)@(Url.Action("GetLocations", "Exclusives"))",
        "latitude": "@(Model.Exclusive.Latitude)",
        "longitude": "@(Model.Exclusive.Longitude)",
        "intlatitude": "@Model.Account.Latitude",
        "intlongitude": "@Model.Account.Longitude"
    });

    function OnlyNumeric(e) {
        var charCode = (e.which) ? e.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>