﻿@model Widgets.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<div id="signincontent">
    <h2>Forgot Password</h2>
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div>
            <span class="editor-label col1">@Html.LabelFor(m => m.UserName)</span>
            <span class="editor-field col2">@Html.TextBoxFor(m => m.UserName)</span>
        </div>
        <div>
            <span class="editor-label col1"></span>
            <span class="editor-field col2"><input type="submit" value="Next" /> <a href="@Url.Action("SignIn", "Auth")">Return to Sign In.</a></span>
        </div>
    }
</div>
