﻿@model Widgets.Models.ViewModels.SignInViewModel
@{
    ViewBag.Title = "Sign In";
}
<div id="signincontent">
    <h2>Sign In</h2>
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div>
            <span class="editor-label col1">@Html.LabelFor(m => m.UserName)</span>
            <span class="editor-field col2">@Html.TextBoxFor(m => m.UserName)</span>
        </div>
        <div>
            <span class="editor-label col1">@Html.LabelFor(m => m.Password)</span>
            <span class="editor-field col2">@Html.PasswordFor(m => m.Password)</span>
        </div>
        <div>
            <span class="editor-label col1"></span>
            <span class="editor-field col2"><input type="submit" value="Sign In" /> <a href="@Url.Action("ForgotPassword", "Auth")">Forgot Password?</a></span>
        </div>
    }
</div>
