﻿@model Widgets.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Success";
}
<div id="signincontent">
    <h2>Check your email</h2>
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <p>
            Please check your email. A password reminder has been sent to you.
        </p>
        <div>
            <a href="@Url.Action("SignIn", "Auth")">Return to Sign In.</a>
        </div>
    }
</div>
