﻿@model Widgets.Models.ViewModels.AccountLinkViewModel

@{
    ViewBag.Title = "Edit Link";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Create Link</h2>

@using (Html.BeginForm("Edit", "Links", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m=> m.Id)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "ManageLinks")
    </p>
}