﻿@model Widgets.Models.ViewModels.NewsItemViewModel

@{
    ViewBag.Title = "Create News Item";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h3>Create News Item</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Create" /> @Html.ActionLink("Cancel", "Index")
    </p>
}
