﻿@model Widgets.Models.ViewModels.NewsIndexViewModel

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="admincreatelink">@Html.ActionLink("Create News Item", "Create", "News")</div>

<table class="Grid">
    <tr>
        <th>
        </th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>

    @foreach(var bulletin in Model.Bulletins)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = bulletin.Id }) |
                @Html.ActionLink("Photos", "Photos", new { id = bulletin.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = bulletin.Id }, new { onclick = "return confirm('Are you sure you wish to delete this news item?');" }) 
            </td>
            <td><a href="#" class="bulletin-title">@bulletin.Title </a>
                <div class="bulletin-description">
                    @Html.Raw(bulletin.Description)
                </div>
                <img class="newsbubble" src="@Url.Content("~/Content/images/newsbubble.png")" alt="Public Facing News Item" title="Public Facing News Item"/>
            </td>
            <td>@bulletin.Agent.FullName</td>
            <td>@bulletin.StartDate.ToString("MM/dd/yy")</td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(function () {
        $('.bulletin-title').hover(
            function () {
                $(this).next().show();
            },
            function () {
                $(this).next().hide();
            }
        );
    });
</script>