﻿@model Widgets.Models.ViewModels.PhotoGalleryViewModel

@{
    ViewBag.Title = "Photo Gallery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageheader
{
    <style type="text/css">
        
        .galleryphoto {
            padding: 4px;
            border: 1px solid #ccc;
            margin: 2px;
            width: 200px;
            height: 150px;
            float: left;
        }
        
        .galleryphoto img {
            width: 80px;
            vertical-align: middle;
            margin: .2em;
        }
        
        .galleryphoto p {
            margin: 0;
            padding: 0;
        }
        
        .galleryphoto:hover {
            background-color: #ccc;
            cursor: move;
            border: 1px dotted black;
        }
        
        .gallery {
            margin-top: 1em;
            border-top: 1px dotted #ccc;
        }
        
        #multiple {
            display: none;
        }        
        
        .ui-state-highlight
        {
            height: 98px;
            line-height: 1.2em;
        }
        
        #sortable
        {
            list-style: none outside none;
            margin: 0;
            padding: 0;
        }
        
        .defaultTextActive { color: #a1a1a1; font-style: italic; }    
    </style>
    <script src="@Url.Content("~/content/js/vendor/jquery.lightbox_me.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/agile-uploader-3.0/jquery.flash.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/agile-uploader-3.0/agile-uploader-3.0.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/agile-uploader-3.0/agile-uploader.css")" />
}

<h3>Photo Gallery</h3>
<div>
    <a href="#" id="addphotos">Add Photos</a>
</div>
<span>To modify the order, simply drag and drop the photos in the order you want and click the save button at the bottom.</span>
<ul id="sortable" class="clearfix">
    @{var i = 0;}
    @foreach(var photo in Model.Photos)
    {
        <li class="galleryphoto" data-photoid="@photo.Id">
            <img src="@Url.Action("GetImageThumb", "News")/@photo.Id"/>
            @Html.ActionLink("Delete", "DeletePhoto", "News", new {id = photo.Id}, null)
            <div class="editor-field">
                <input type="text" id="photocaption@(i)" name="captions" class="defaultText" title="Enter photo caption..." value="@(photo.PhotoCaption ?? "")" />
            </div>
        </li>
        i++;
    }
</ul>

@using (Html.BeginForm("Photos", "News", FormMethod.Post, new { enctype = "multipart/form-data", id = "multiple" }))
{
    <a class="close"></a>
    <div id="multiple"></div>
    <div style="float: left; padding-right: 4px;">Add photos</div>    
    <a href="#" style="float: right; margin-right:150px;" onClick="document.getElementById('agileUploaderSWF').submit();">Save</a>
}
<p>
    <button id="saveorder">Save</button> @Html.ActionLink("Cancel", "Index")
</p>

<script type="text/javascript">

    $(function () {

        $('#sortable').sortable({
            placeholder: "ui-state-highlight"
        });
        
        $('#multiple').agileUploader({
            submitRedirect: '@Url.Action("Photos", "News")',
            formId: 'multiple',
            flashSrc: '@Url.Content("~/Scripts/agile-uploader-3.0/agile-uploader.swf")',
            flashVars: {
                firebug: false,
                form_action: '@Url.Action("Photos", "News")',
                file_limit: @(16 - Model.Photos.Count()),
                max_post_size: (1600 * 1024),
                button_up: '@Url.Content("~/Scripts/agile-uploader-3.0/add-file.png")',
                button_over: '@Url.Content("~/Scripts/agile-uploader-3.0/add-file.png")',
                button_down: '@Url.Content("~/Scripts/agile-uploader-3.0/add-file.png")'
            },
            removeIcon: '@Url.Content("~/Scripts/agile-uploader-3.0/trash-icon.png")',
            genericFileIcon: '@Url.Content("~/Scripts/agile-uploader-3.0/file-icon.png")'
        });
        
        $('#addphotos').on('click', function(e) {
            e.preventDefault();

            $('#multiple').addClass('vdc-popup').lightbox_me();
        });

        $(".defaultText").focus(function (srcc) {
            if ($(this).val() == $(this)[0].title) {
                $(this).removeClass("defaultTextActive");
                $(this).val("");
            }
        });

        $(".defaultText").blur(function () {
            if ($(this).val() == "") {
                $(this).addClass("defaultTextActive");
                $(this).val($(this)[0].title);
            }
        });

        $(".defaultText").blur();
        
        $('#saveorder').on('click', function(e) {
            e.preventDefault();

            var newsgallery = [];
            $('.galleryphoto').each(function(index, value) {

                var photo = { index: index, value: $(value).data('photoid'), caption: $(value).find('input').val() };
                newsgallery.push(photo);
            });

            $.ajax({
                url: '@Url.Action("Order", "News")',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(newsgallery),
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    $('.success').remove();
                    var ele = $('<div>').addClass('success').html(data.message);
                    $('#content').prepend(ele);
                }
            });
        });
    });
</script>