﻿@using Widgets.Models
@model Widgets.Models.ViewModels.ManageAccountsViewModel
@{
    ViewBag.Title = "Manage Accounts";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="admincreatelink">@Html.ActionLink("Create Account", "Create", "Account")</div>
<table class="Grid assume">
    <tr>
        <th></th>
        <th>@Html.ActionLink("Account", "ManageAccounts", "Account", new { sortby = ViewBag.AccountSort }, new { @class = "sort" })</th>
        <th>@Html.ActionLink("Account Type", "ManageAccounts", "Account", new { sortby = ViewBag.AccountTypeSort }, new { @class = "sort" })</th>
    </tr>
    @foreach (var item in Model.Accounts)
    {
        <tr data-apikey="@item.Id" data-accounttype="@item.AccountType.ToString()">
            @if (User.IsInRole(UserRole.Super.ToString()) && User.Identity.Name == "admin")
            {
            <td>@Html.ActionLink("Delete", "Delete", "Account", new { id = @item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this account?');" })</td>
            }
            else
            {
                <td></td>
            }
            <td><u>@item.Name</u></td>
            <td>@item.AccountType</td>
        </tr>
    }
</table>

<script type="text/javascript">
    $('tr:gt(0)').on('click', function() {
        var url = "@(Url.Action("Assume", "Account"))/" + $(this).data('apikey') + "?accountType=" + $(this).data('accounttype');
        window.location = url;
    });
</script>