﻿@model Widgets.Models.ViewModels.FeaturedListingsCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Featured Listing</h3>
<div id="search">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.Hidden("mlsnumber")
        <div class="editor-label">
            @Html.LabelFor(x => x.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Address, new {@class = "defaultText", @title = "Enter property address or MLS #..."})
        </div>

        <p>
            <input type="submit" value="Create" /> @Html.ActionLink("Cancel", "Index")
        </p>
    }
</div>

<div id="preview">    
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/defaultText.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#Address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Model.DefaultHostName)/FeaturedListing/SearchListings",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        address: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data.listings, function (item) {
                            return {
                                label: item.Address + ", " + item.City + ", MLS® " + item.MlsNumber,
                                photo: item.DefaultPhoto,
                                price: item.Price,
                                mlsnumber: item.MlsNumber,
                                value: item.Address,
                                address: item.Address + ", " + item.City
                            };
                        }));
                    },
                    error:function()
                    {
                        console.log("error happened")
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {

                $('#preview').empty();
                $('#preview').append($('<img>', {
                    src: ui.item.photo
                }));

                $('#preview').append($('<div>').html("<label>Address:</label> " + ui.item.address));
                $('#preview').append($('<div>').html("<label>Price:</label> " + ui.item.price));
                $('#preview').append($('<div>').html("<label>MLS Number:</label> " + ui.item.mlsnumber));

                $('#mlsnumber').val(ui.item.mlsnumber);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    });
</script>