﻿@model Widgets.Models.ViewModels.FeaturedListingIndexViewModel
@{
    ViewBag.Title = "Featured Listings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="clearfix">
    @if (!Model.AutoSelect)
    {
        <div id="admincreatelink">
            @Html.ActionLink("Create Featured Listing", "Create")
        </div>
    }
    <div id="autoselect">
        Automatically set featured listings @Html.CheckBoxFor(m=>m.AutoSelect)
    </div>
</div>
<div class="success" style="display: none;">
    <p></p>
</div>

@if (!Model.AutoSelect)
{
    <table class="Grid">
        <tr>
            <th></th>
            <th>Address</th>
            <th>City</th>
            <th>MLS Number</th>
            <th>Price</th>
        </tr>
    
        @foreach (var item in Model.Listings)
        {
            <tr>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {@item.MlsNumber}, new {onclick = "return confirm('Are you sure you wish to delete this featured listing?');"})
                </td>
                <td>
                    @item.Address
                </td>        
                <td>
                    @item.City
                </td>           
                <td>
                    @item.MlsNumber
                </td>        
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}
<script type="text/javascript">
    $(function () {
        $('#AutoSelect').on('click', function () {
            var $success = $('.success');
            var autoSelect = $('#AutoSelect').is(':checked');
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AutoSelect", "FeaturedListing")",
                data: { 'autoSelect': autoSelect },
                success: function () {
                    if (autoSelect) {
                        $success.find('p').html('Auto selection of featured listings is on.');
                    } else {
                        $success.find('p').html('Auto selection of featured listings is off.');
                    }
                    $success.show();
                },
                complete: function () {
                    setTimeout(function () {
                        $success.hide();
                        location.reload();
                    }, 3000);
                }
            });
        });
    });
</script>